.o-wrapper__content {
  padding: $spacing-medium $spacing-large;

  @media #{$medium-up} {
    padding: $spacing-large $spacing-xx-large;
  }

  @media #{$large-up} {
    padding: $spacing-xx-large $spacing-xxx-large;
  }
}
