body {
  width: 100%;
  background-color: $color-off-white-blue;
}

.o-wrapper__max-width {
  max-width: 87em;
  margin: 0 auto;
  background-color: $color-white;
}

.o-wrapper__content {
  padding: 0 $spacing-small;
  width: 100%;

  @media #{$medium-up} {
    padding: 0 $spacing-xx-large;
  }

  @media #{$large-up} {
    padding: 0 $spacing-xx-large;
  }
}

.o-wrapper__module {
  padding: $spacing-large 0;

  @media #{$medium-up} {
    padding: $spacing-large 0;
  }

  @media #{$large-up} {
    padding: $spacing-large 0;
  }
}
