body {
  background-color: $color-off-white-blue;
  width: 100%;
}

.o-wrapper__max-width {
  background-color: $color-white;
  margin: 0 auto;
  max-width: 87em;
}

.o-wrapper__outter {
  width: 100%;

  @media #{$medium-up} {
    padding: 0 $spacing-xx-large;
  }

  @media #{$large-up} {
    padding: 0 $spacing-xx-large;
  }
}

.o-wrapper__inner {
  padding: 0 $spacing-small;
}

.o-wrapper__module {
  padding: $spacing-large 0;

  @media #{$medium-up} {
    padding: $spacing-large 0;
  }

  @media #{$large-up} {
    padding: $spacing-large 0;
  }
}
