.c-button {
  border: 1px solid $color-secondary;
  border-radius: 3px;
  height: 2.6rem;
  margin-top: $spacing-small;
  width: 100%;

  @media #{$medium-up} {
    display: none;
  }
}

.c-button:hover {
  background-color: $color-secondary;
  border-style: none;
  color: $color-white;
  cursor: pointer;

  h3 {
    color: $color-white;
  }
}
