.c-button {
  border: 2px solid $color-secondary;
  border-radius: 3px;
  height: 2.6rem;
  margin-top: $spacing-small;
  width: 100%;

  @media #{$medium-up} {
    display: none;
  }
}

.c-button:hover {
  background-color: $color-secondary-hover;
  border-style: none;
  color: $color-white;
  cursor: pointer;
  transition: $duration-slowly;

  h3 {
    color: $color-white;
  }
}

.c-button__icon-text {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-top: $spacing-small;

  path {
    fill: $color-secondary;
  }
}

.c-button__icon-text:hover {
  cursor: pointer;

  path {
    fill: $color-secondary-hover;
    transition: $duration-slowly;
  }
}
