.c-explore {
  width: 100%;

  li {
    height: 12rem;
    width: calc(33% - .3rem);

    @media #{$medium-up} {
      height: 20rem;
      width: calc(25% - .75rem);
    }

    @media #{$large-up} {
      height: 32rem;
      width: calc(25% - .75rem);
    }
  }

  li:last-child {
    display: none;

    @media #{$medium-up} {
      display: flex;
    }
  }
}
