.c-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/top-bar.png');
  padding: $spacing-medium 0;

  h3,
  p {
    color: $color-white;
    margin-top: 0;
  }
}

.c-footer__social {
  @include no-bullet;

  align-items: center;
  display: inline-flex;

  li {
    margin-left: $spacing-xx-small;

    &:first-child {
      margin: 0;
    }
  }

  path,
  g {
    fill: $color-accent;
  }

  a:hover {
    cursor: pointer;

    path,
    g {
      fill: $color-accent-hover;
    }
  }
}
