.c-header__menu {
  display: none;

  @media #{$medium-up} {

    @include no-bullet;
    display: inline-flex;
    float: right;
    margin: 0;

    a {
      color: $color-white;
      text-decoration: none;

      &:hover {
        color: $color-white-hover;
      }
    }

    li {
      padding-left: $spacing-large;
    }
  }
}

.c-header {
  background: url('/assets/top-bar.png');
  @include cover-center;

  @media #{$medium-up} {
    background: url('/assets/i-tonya-large.png');
    @include cover-center;
  }
}

.c-header__content {
  margin-top: $spacing-small;
  width: 100%;

  h2 {
    display: none;

    @media #{$medium-up} {
      color: $color-white;
      display: block;
      font-size: $font-size-heading-medium;
    }
  }

  @media #{$medium-up} {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    max-width: 50rem;
    text-align: center;
  }

  @media #{$large-up} {
    margin: 10rem auto;
  }
}
