.c-header__nav-bar {
  padding: $spacing-small;
  padding-bottom: 0;
}

.c-header__menu {
  display: none;

  @media #{$medium-up} {
    display: inline-flex;
    float: right;

    h3 {
      color: $color-white;
    }

    li {
      padding-left: $spacing-large;
    }
  }
}

.c-header {
  background: url('/assets/top-bar-bg.png');
  background-position: cover;
  background-repeat: no-repeat;
  height: 9rem;

  @media #{$medium-up} {
    background: url('/assets/i-tonya-new.png');
    height: 30rem;
  }

  @media #{$large-up} {
    background: url('/assets/i-tonya-new.png');
    height: 40rem;
  }

  @media #{$x-large-up} {
    background: url('/assets/i-tonya-massive.png');
    height: 50rem;
  }
}

.c-header__content {
  display: block;
  text-align: center;
  width: 100%;

  @media #{$medium-up} {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
  }

  h2 {
    display: none;

    @media #{$medium-up} {
      color: $color-white;
      display: block;
      font-size: $font-size-heading-medium;
    }
  }
}

.c-header__wrapper {
  padding: $spacing-small;

  @media #{$medium-up} {
    display: flex;
    justify-content: space-around;
    padding-top: $spacing-xx-large;
  }

  @media #{$large-up} {
    padding-top: $spacing-xxx-large;
  }

  @media #{$x-large-up} {
    padding-top: 20rem;
  }
}
