.c-icons__logo {
  display: inline-block;
}

.c-icons__menu {
  float: right;

  @media #{$medium-up} {
    display: none;
  }
}

.c-icons__search {
  line-height: 0;
}

.c-icons__play-icon:hover {
  cursor: pointer;

  path {
    fill: $color-white-hover;
    transition: $duration-slowly;
  }
}

.c-icons__stars {
  display: inline-block;

  polygon {
    fill: $color-accent;
  }

  polygon:hover {
    fill: $color-accent-hover;
    transition: $duration-immediately;
  }
}

.c-icons__stars:hover {
  cursor: pointer;
  transition: $duration-immediately;
}

.c-icons__stars--empty {
  display: inline-block;

  polygon {
    fill: $color-accent-hover;
  }
}
