.c-icons__logo {

  @media #{$medium-up} {
    display: none;
  }
}

.c-icons__logo--large {
  display: none;

  @media #{$medium-up} {
    display: inline-block;
  }
}

.c-icons__menu {
  float: right;

  @media #{$medium-up} {
    display: none;
  }
}

.c-icons__search {
  line-height: 0;
}
