.c-icons__logo {
  display: inline-block;
}

.c-icons__menu {
  float: right;

  @media #{$medium-up} {
    display: none;
  }
}

.c-icons__search {
  line-height: 0;
}

.c-icons__play-icon:hover {
  cursor: pointer;

  path {
    fill: $color-white-hover;
  }
}
