.c-images__1 {
  background: url('/assets/i-tonya-small.jpg');
  @include cover-center;

  @media #{$medium-up} {
    display: none;
  }
}

.c-images__2 {
  display: none;

  @media #{$medium-up} {
    background: url('/assets/the-post.png');
    @include cover-center;
    display: flex;
  }
}

.c-images__3 {
  display: none;

  @media #{$medium-up} {
    background: url('/assets/the-square.png');
    @include cover-center;
    display: flex;
  }
}

.c-images__4 {
  background: url('/assets/maisel.jpg');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/maisel.jpg');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__5 {
  background-image: url('/assets/crown.jpg');
  @include cover-center;

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/crown.jpg');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__6 {
  background: url('/assets/us.jpg');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/us.jpg');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__7 {
  background: url('/assets/kids.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/kids.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__8 {
  background: url('/assets/parents.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/parents.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__9 {
  background: url('/assets/date.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/date.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__10 {
  background: url('/assets/party.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/party.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__11 {
  background: url('/assets/breakup.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/breakup.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__12 {
  background: url('/assets/tbt.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/tbt.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__13 {
  background: url('/assets/screwball.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/screwball.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__14 {
  background: url('/assets/french.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/french.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__15 {
  background: url('/assets/film.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/film.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__16 {
  background: url('/assets/female.png');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/female.png');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__17 {
  background: url('/assets/breaking-bad.png');
  @include cover-center;
}

.c-images__18 {
  background: url('/assets/arrested.jpg');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/arrested.jpg');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__19 {
  background: url('/assets/office.jpg');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/office.jpg');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__20 {
  background: url('/assets/sunny.jpg');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/sunny.jpg');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__21 {
  background: url('/assets/parks.jpg');
  @include cover-center;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/parks.jpg');
    @include cover-center;
    @include image-hover;
  }
}

.c-images__22 {
  background: url('/assets/lady-bird.png');
  @include cover-center;
}

.c-images__23 {
  background: url('/assets/showman.png');
  @include cover-center;
}

.c-images__24 {
  background: url('/assets/fantastic.png');
  @include cover-center;
}
