.c-images__1,
.c-images__2,
.c-images__3,
.c-images__4,
.c-images__5,
.c-images__6,
.c-images__7,
.c-images__8,
.c-images__9,
.c-images__10,
.c-images__11,
.c-images__12,
.c-images__13,
.c-images__14,
.c-images__15,
.c-images__16,
.c-images__17,
.c-images__18,
.c-images__19,
.c-images__20,
.c-images__21,
.c-images__22,
.c-images__23,
.c-images__24,
 {
  @include cover-center;
  @include image-hover;
}

.c-images__2,
.c-images__3 {
  display: none;

  @media #{$medium-up} {
    display: flex;
  }
}

.c-images__1 {
  background-image: url('/assets/i-tonya-small.jpg');
  display: flex;

  @media #{$medium-up} {
    display: none;
  }
}

.c-images__2 {

  @media #{$medium-up} {
    background-image: url('/assets/the-post.png');
  }
}

.c-images__3 {

  @media #{$medium-up} {
    background-image: url('/assets/the-square.png');
  }
}

.c-images__4 {
  background-image: url('/assets/maisel.jpg');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/maisel.jpg');
  }
}

.c-images__5 {
  background-image: url('/assets/crown.jpg');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/crown.jpg');
  }
}

.c-images__6 {
  background-image: url('/assets/us.jpg');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/us.jpg');
  }
}

.c-images__7 {
  background-image: url('/assets/kids.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/kids.png');
  }
}

.c-images__8 {
  background-image: url('/assets/parents.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/parents.png');
  }
}

.c-images__9 {
  background-image: url('/assets/date.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/date.png');
  }
}

.c-images__10 {
  background-image: url('/assets/party.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/party.png');
  }
}

.c-images__11 {
  background-image: url('/assets/breakup.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/breakup.png');
  }
}

.c-images__12 {
  background-image: url('/assets/tbt.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/tbt.png');
  }
}

.c-images__13 {
  background-image: url('/assets/screwball.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/screwball.png');
  }
}

.c-images__14 {
  background-image: url('/assets/french.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/french.png');
  }
}

.c-images__15 {
  background-image: url('/assets/film.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/film.png');
  }
}

.c-images__16 {
  background-image: url('/assets/female.png');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/female.png');
  }
}

.c-images__17 {
  background-image: url('/assets/breaking-bad.png');
}

.c-images__18 {
  background-image: url('/assets/arrested.jpg');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/arrested.jpg');
  }
}

.c-images__19 {
  background-image: url('/assets/office.jpg');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/office.jpg');
  }
}

.c-images__20 {
  background-image: url('/assets/sunny.jpg');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/sunny.jpg');
  }
}

.c-images__21 {
  background-image: url('/assets/parks.jpg');

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/parks.jpg');
  }
}

.c-images__22 {
  background-image: url('/assets/lady-bird.png');
}

.c-images__23 {
  background-image: url('/assets/showman.png');
}

.c-images__24 {
  background-image: url('/assets/fantastic.png');
}
