.c-module__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-module__panel {
  width: calc(50% - .3125rem);

  @media #{$medium-up} {
    width: calc(33% - .75rem);
   }
}

.c-module__card {
  align-items: center;
  display: flex;
  justify-content: space-around;

  h3 {
    color: $color-white;
    max-width: 80%;
    text-align: center;
  }
}

.c-module__card--large {
  width: 100%;

  li {
    border: 2px solid $color-primary;
    list-style-type: none;
    width: 100%;
  }

  li:first-child {
    border: 0;

    h3 {
      padding: 0;
    }
  }

  h3 {
    display: inline-block;
    padding-left: $spacing-x-small;
  }

  h2,
  h5,
  p, {
    margin: $spacing-x-small 0;
  }
}

.c-module__mobile-off,
.c-module__supplement {
  display: none;

  @media #{$medium-up} {
    display: block;
   }
}
