.c-occasion {
  flex-wrap: wrap;
  width: 100%;

  li {
    height: 7rem;
    width: calc(33% - .3rem);

    @media #{$medium-up} {
      width: calc(16% - .4rem);
    }

    @media #{$large-up} {
      height: 10rem;
      width: calc(16% - .75rem);
    }
  }

  li:nth-child(n+4) {
    margin-top: $spacing-xx-small;

    @media #{$medium-up} {
      margin: 0;
    }
  }
}
