.c-released__trailer {
  align-items: center;
  display: flex;
  height: 10rem;
  justify-content: space-around;
  position: relative;
  width: 100%;

  @media #{$medium-up} {
    height: 15rem;
    width: calc(50% - .75rem);
  }

  @media #{$large-up} {
    height: 25rem;
    width: calc(50% - .75rem);
  }
}

.c-released__container {
  width: 100%;

  @media #{$medium-up} {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-medium;
  }
}

.c-released__metadata {
  display: none;

  @media #{$medium-up} {
    bottom: $spacing-large;
    color: $color-white;
    display: block;
    left: $spacing-x-large;
    position: absolute;
  }
}
