.c-search {
  border-radius: $border-radius-medium;
  border-style: none;
  font-family: $font-family;
  font-size: $font-size-text-medium;
  height: 2.4rem;
  padding-left: $spacing-x-small;
  width: 100%;
}
