.c-search {
  align-items: center;
  background-color: $color-white;
  border-radius: $border-radius-medium;
  display: flex;
  height: 2.4rem;
  padding-left: $spacing-small;
  width: 100%;
}

.c-search__term {
  border-style: none;
  border-radius: $border-radius-medium;
  font-size: $font-size-text-large;
  padding-left: $spacing-small;
  width: 100%;
  margin: 0;
  height: 100%;
}
