.c-streaming__module {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.c-streaming__panel {
  width: calc(50% - .3125rem);

  @media #{$medium-up} {
    width: calc(33% - .75rem);
  }

  div:last-child {
    display: none;

    @media #{$medium-up} {
      display: flex;
    }
  }
}

.c-streaming__item {
  height: 13rem;

  @media #{$medium-up} {
    height: 20rem;
  }

  @media #{$large-up} {
    height: 35rem;
  }
}
