.c-watch {
  width: 100%;

  @media #{$medium-up} {
    display: flex;
    justify-content: space-between;
  }
}

.c-watch__primary {
  height: 18rem;

  @media #{$medium-up} {
    width: calc(50% - .75rem);
  }

  @media #{$large-up} {
    height: 25rem;
    width: calc(50% - .75rem);
  }
}

.c-watch__secondary {
  flex-wrap: wrap;

  @media #{$medium-up} {
    height: 18rem;
    width: calc(50% - .75rem);
  }

  @media #{$large-up} {
    height: 25rem;
    width: calc(50% - .75rem);
  }

  li {
    height: 5rem;
    margin-top: $spacing-x-small;
    width: calc(25% - .325rem);

    @media #{$medium-up} {
      height: auto;
      margin-top: 0;
      margin-bottom: 1rem;
      width: calc(50% - .75rem);

      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-bottom: 0;
      }
    }
  }
}
