<div class="o-wrapper__module ">
  <div class="o-wrapper__inner">
    <h1>Box Office</h1>
    <ul class="c-module__card--large">
      <li>
        <div class="c-box-office__image c-images__22"></div>
        <div class="c-box-office__content">
          <h2>Lady Bird</h2>
          <h5>2017 | 111min | Comedy</h5>
          <div class="c-stars">
            {% include SVG/star.svg %}
            {% include SVG/star.svg %}
            {% include SVG/star.svg %}
            {% include SVG/star.svg %}
            {% include SVG/star.svg %}
            {% include SVG/star.svg %}
            {% include SVG/star.svg %}
            {% include SVG/star.svg %}
            <div class="c-stars--empty">{% include SVG/star.svg %}</div>
            <div class="c-stars--empty">{% include SVG/star.svg %}</div>
          </div>
          <p>In 2002, an artistically inclined seventeen-year-old girl comes of age in Sacramento, California.</p>
          <div class="c-button__icon-text">
            <div>
              {% include SVG/play-icon-small.svg %}
            </div>
            <h3>Watch Trailer</h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
