<div class="o-wrapper__module ">
  <div class="o-wrapper__inner">
    <h1>Box Office</h1>
    <div class="c-box-office c-module__row">
      <ul class="c-module__card--large">
        <li><h3 class="c-module__sub">Top 10</h3></li>
        <li>
          <div class="c-box-office__image c-images__22"></div>
          <div class="c-box-office__content">
            <h2>Lady Bird</h2>
            <h5>2017 | 111min | Comedy</h5>
            <div class="c-stars">
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              <div class="c-stars--empty">{% include SVG/star.svg %}</div>
            </div>
            <p>In 2002, an artistically inclined seventeen-year-old girl comes of age in Sacramento, California.</p>
            <div class="c-button__icon-text">
              <div>
                {% include SVG/play-icon-small.svg %}
              </div>
              <h3>Watch Trailer</h3>
            </div>
          </div>
        </li>
      </ul>
      <ul class="c-module__card--large c-module__mobile-off">
        <li><h3 class="c-module__sub">Now Playing Near You</h3></li>
        <li>
          <div class="c-box-office__image c-images__23"></div>
          <div class="c-box-office__content">
            <h2>The Greatest Showman</h2>
            <h5>2017 | 126min | Biography, Drama, Musical</h5>
            <div class="c-stars">
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              <div class="c-stars--empty">{% include SVG/star.svg %}</div>
              <div class="c-stars--empty">{% include SVG/star.svg %}</div>
            </div>
            <p>Celebrates the birth of show business, and tells of a visionary who rose from nothing to create a spectacle that became a worldwide sensation.</p>
            <div class="c-button__icon-text">
              <div>
                {% include SVG/play-icon-small.svg %}
              </div>
              <h3>Watch Trailer</h3>
            </div>
          </div>
        </li>
      </ul>
      <ul class="c-module__card--large c-module__mobile-off">
        <li><h3 class="c-module__sub">Coming Soon</h3></li>
        <li>
          <div class="c-box-office__image c-images__24"></div>
          <div class="c-box-office__content">
            <h2>A Fantastic Woman</h2>
            <h5>2018 | 116min | Drama</h5>
            <div class="c-stars">
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              {% include SVG/star.svg %}
              <div class="c-stars--empty">{% include SVG/star.svg %}</div>              <div class="c-stars--empty">{% include SVG/star.svg %}</div>
              <div class="c-stars--empty">{% include SVG/star.svg %}</div>
            </div>
            <p>Marina, a waitress who moonlights as a nightclub singer, is bowled over by the deaht of her older boyfriend.</p>
            <div class="c-button__icon-text">
              <div>
                {% include SVG/play-icon-small.svg %}
              </div>
              <h3>Watch Trailer</h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
