<div class="o-wrapper__module ">
  <div class="o-wrapper__content">
    <h1>Explore</h1>
    <div class="c-explore__module">
        <div class="c-explore__item c-card c-images__13">
          <h3 class="c-cards__subtitle">Screwball Comedies</h3>
        </div>
        <div class="c-explore__item c-card c-images__14">
          <h3 class="c-cards__subtitle">French Films</h3>
        </div>
        <div class="c-explore__item c-card c-images__15">
          <h3 class="c-cards__subtitle">Film Noir</h3>
        </div>
        <div class="c-explore__item c-card c-images__16">
          <h3 class="c-cards__subtitle">Films With a Strong Female Lead</h3>
        </div>
    </div>
    <button class="c-button"><h3>Explore Other Categories</h3></button>
  </div>
</div>
