<div class="o-wrapper__module ">
  <div class="o-wrapper__inner">
    <h1>Explore</h1>
    <ul class="c-module__row c-explore">
      <li class="c-module__card c-images__13">
        <h3>Screwball Comedies</h3>
      </li>
      <li class="c-module__card c-images__14">
        <h3>French Films</h3>
      </li>
      <li class="c-module__card c-images__15">
        <h3>Film Noir</h3>
      </li>
      <li class="c-module__card c-images__16">
        <h3>Films With a Strong Female Lead</h3>
      </li>
    </ul>
    <button class="c-button"><h3>Explore Other Categories</h3></button>
  </div>
</div>
