<header class="c-header">
  <div class="o-wrapper__module">
    <div class="o-wrapper__inner">
      <div class="c-icons__logo">
        {% include SVG/logo_small.svg %}
      </div>
      <div class="c-icons__menu">
        {% include SVG/menu.svg %}
      </div>
      <ul class="c-header__menu">
        <li><h3><a href="#">Movies</a><h3></li>
        <li><h3><a href="#">TV</a><h3></li>
        <li><h3><a href="#">People</a><h3></li>
        <li><h3><a href="#">News</a><h3></li>
      </ul>
      <div class="c-header__content">
        <h2>The world’s most popular and authoritative source for movie, TV and celebrity content.
        </h2>
        <input type="text" class="c-search" placeholder="Search...">
      </div>
    </div>
  </div>
</header>
