<div class="o-wrapper__module">
  <div class="o-wrapper__inner">
    <h1>What's the Occasion?</h1>
    <ul class="c-module__row c-occasion">
      <li class="c-module__card c-images__7">
        <h3>With the Kids</h3>
      </li>
      <li class="c-module__card c-images__8">
        <h3>With the Parents</h3>
      </li>
      <li class="c-module__card c-images__9">
        <h3>Date Night</h3>
      </li>
      <li class="c-module__card c-images__10">
        <h3>Party Time!</h3>
      </li>
      <li class="c-module__card c-images__11">
        <h3>Break Up & Ice Cream</h3>
      </li>
      <li class="c-module__card c-images__12">
        <h3>#TBT</h3>
      </li>
    </ul>
  </div>
</div>
