<div class="o-wrapper__module">
  <div class="o-wrapper__inner">
    <div class="c-released__heading">
      <h1>New Releases</h1>
      <h3>I, Tonya</h3>
    </div>
  </div>
  <div class="c-released__container">
    <div class="c-released__trailer c-images__1">
      {% include SVG/play-icon.svg %}
    </div>
    <!-- <div class"c-released__swipeys">
      {% include SVG/swipeys.svg %}
    </div> -->
    <div class="c-released__trailer c-images__2">
      {% include SVG/play-icon.svg %}
      <div class="c-released__metadata">
        <h2>The Post</h2>
        <h3>Just Released</h3>
      </div>
    </div>
    <div class="c-released__trailer c-images__3">
      {% include SVG/play-icon.svg %}
      <div class="c-released__metadata">
        <h2>The Square</h2>
        <h3>Just Released</h3>
      </div>
    </div>
  </div>
</div>
