<div class="o-wrapper__inner">
  <h1>Popular on Streaming</h1>
  <div class="c-module__row">
    <div class="c-module__panel">
      <h3 class="c-module__sub">Amazon</h3>
      <div class="c-streaming__item c-images__4"></div>
    </div>
    <div class="c-module__panel">
      <h3 class="c-module__sub">Netlfix</h3>
      <div class="c-streaming__item c-images__5"></div>
    </div>
    <div class="c-module__panel c-module__mobile-off">
      <h3 class="c-module__sub">Hulu</h3>
      <div class="c-streaming__item c-images__6"></div>
    </div>
  </div>
  <button class="c-button"><h3>More on Streaming</h3></button>
</div>
