<div class="o-wrapper__module ">
  <div class="o-wrapper__content">
    <h1>Popular on Streaming</h1>
    <div class="c-streaming__module">
      <div class="c-streaming__panel">
        <h3 class="c-streaming__subheading">Amazon</h3>
        <div class="c-streaming__item c-images__4">
        </div>
      </div>
      <div class="c-streaming__panel">
        <h3 class="c-streaming__subheading">Netlfix</h3>
        <div class="c-streaming__item c-images__5">
        </div>
      </div>
      <div class="c-streaming__panel">
        <h3 class="c-streaming__subheading">Hulu</h3>
        <div class="c-streaming__item c-images__6">
        </div>
      </div>
    </div>
  </div>
</div>
