<div class="o-wrapper__module">
  <div class="o-wrapper__inner">
    <h1>Popular on Streaming</h1>
    <div class="c-module__row">
      <div class="c-module__panel c-streaming">
        <h3>Amazon</h3>
        <div class="c-streaming__item c-images__4"></div>
        <h2 class="">The Marvelous Mrs. Maisel</h2>
        <h5>12 Episodes, 1 Season</h5>
      </div>
      <div class="c-module__panel c-streaming">
        <h3>Netlfix</h3>
        <div class="c-streaming__item c-images__5"></div>
        <h2 class="">The Crown</h2>
        <h5>22 Episodes, 2 Seasons</h5>
      </div>
      <div class="c-module__panel c-module__mobile-off c-streaming">
        <h3>Hulu</h3>
        <div class="c-streaming__item c-images__6"></div>
        <h2 class="">This Is Us</h2>
        <h5>15 Episodes, 2 Seasons</h5>
      </div>
    </div>
    <button class="c-button"><p>More on Streaming</p></button>
    <ul class="c-module__supplement">
      <li><h4>See all Popular on Streaming:</h4></li>
      <li><a href="#">Amazon</a>,</li>
      <li><a href="#">Netflix</a>,</li>
      <li><a href="#">Hulu</a>,</li>
      <li><a href="#">Showtime</a>,</li>
      <li><a href="#">HBO Go</a>,</li>
      <li><a href="#">Starz</a>,</li>
      <li><a href="#">See All</a></li>
    </ul>
  </div>
</div>
