<div class="o-wrapper__module">
  <div class="o-wrapper__inner">
    <h1>Watch Again & Again...</h1>
    <div class="c-watch">
      <div class="c-watch__primary c-module__card c-images__17">
        {% include SVG/play-icon.svg %}
      </div>
      <ul class="c-watch__secondary c-module__row">
        <li class="c-images__18"></li>
        <li class="c-images__19"></li>
        <li class="c-images__20"></li>
        <li class="c-images__21"></li>
      </ul>
    </div>
    <button class="c-button"><h3>Show More Cult Classics</h3></button>
    <ul class="c-module__supplement">
      <li><h4>See More Cult Classics:</h4></li>
      <li><a href="#">Movies</a>,</li>
      <li><a href="#">TV</a>,</li>
      <li><a href="#">See All</a></li>
    </ul>
  </div>
</div>
