@mixin no-bullet {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin scrollable {
  height: calc(100vh - #{$height-header});
  overflow: scroll;
  position: relative;
}

@mixin cover-center {
  background-size: cover;
  background-position: center center;
}

@mixin image-hover {
  cursor: pointer;
  transition: $duration-slowly ease-in-out;
}
