// Colors

$color-background: #FFF;

$color-primary: #01508D;
$color-primary-hover: darken($color-primary, 10%);
$color-primary-secondary: #9FADD3;
$color-secondary: #E19F08;
$color-secondary-hover: darken($color-secondary, 10%);
$color-black: #3E4045;
$color-black-secondary: rgba($color-black, .5);
$color-white: #FFF;
$color-white-hover: rgba($color-white, .7);
$color-off-white: #FBFBFB;
$color-off-white-blue: #E7EFF4;
$color-accent: #C5C5C5;
$color-accent-text: darken($color-accent, 10%);
$color-accent-secondary: #C5C5C5;
$color-accent-hover: darken($color-accent, 10%);

// Fonts

$font-family: 'Ubuntu', sans-serif;
$font-family-regular: $font-family;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Size

$font-size-heading-x-small: .75rem;
$font-size-heading-small: 1.25rem;
$font-size-heading-medium: 1.5rem;
$font-size-heading-large: 2.25rem;
$font-size-heading-x-large: 3.25rem;

$font-size-text-medium: 1rem;
$font-size-text-large: 1.25rem;


// Line Height

$line-height-heading: 1.25;
$line-height-text: 1.5;
$line-height-tall: 2.2;


// Spacing

$spacing-none: 0;
$spacing-x-small: .625rem;
$spacing-small: 1.1rem;
$spacing-medium: 1.3rem;
$spacing-large: 1.5rem;
$spacing-x-large: 5.3rem;
$spacing-xx-large: 7.5rem;
$spacing-xxx-large: 12rem;

$height-header: 3rem;

// Borders

$border-width-thin: 1px;
$border-width-thick: 3px;

// Positioning

$positioning-centered: 0 auto;

// Radius

$border-radius-circle: 50%;
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 7px;
$border-radius-x-large: 12px;
$border-radius-pill: 240px;

$card-border-radius: $border-radius-medium;


// Time

$duration-quickly: .1s;
$duration-immediately: .15s;
$duration-toast-medium: 9.6s;
$duration-slowly: .4s;
$duration-toast-short: 4.8s;
$duration-paused: 3.2s;
$duration-promptly: .2s;
$duration-slide: .25s;
