// Colors

$color-background: #FFF;

$color-primary: #424342;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary: #969191;
$color-secondary-hover: darken($color-secondary, 10%);
$color-white: #FFF;
$color-white-hover: rgba($color-white, .6);
$color-off-white: #E8E8E8;
$color-accent: #E19F08;
$color-accent-hover: darken($color-accent, 10%);

// Fonts

$font-family: 'Ubuntu', sans-serif;
$font-family-regular: $font-family;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Size

$font-size-heading-x-small: .9rem;
$font-size-heading-small: 1.5rem;
$font-size-heading-medium: 2rem;
$font-size-heading-large: 2.25rem;
$font-size-heading-x-large: 3.25rem;

$font-size-text-medium: 1rem;
$font-size-text-large: 1.25rem;


// Line Height

$line-height-heading: 1.25;
$line-height-text: 1.5;
$line-height-tall: 2.2;


// Spacing

$spacing-none: 0;
$spacing-xx-small: .625rem;
$spacing-x-small: 1.1rem;
$spacing-small: 1.3rem;
$spacing-medium: 1.5rem;
$spacing-large: 2.6rem;
$spacing-x-large: 3.1rem;
$spacing-xx-large: 7.5rem;

$height-header: 3rem;

// Borders

$border-width-thick: 2px;

// Positioning

$positioning-centered: 0 auto;

// Radius

$border-radius-small: 3px;
$border-radius-medium: 5px;


// Time

$duration-quickly: .1s;
$duration-immediately: .15s;
$duration-toast-medium: 9.6s;
$duration-slowly: .4s;
$duration-toast-short: 4.8s;
$duration-paused: 3.2s;
$duration-promptly: .2s;
$duration-slide: .25s;
