@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');

html {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $line-height-text;
}

h1 {
  color: $color-primary;
  font-size: $font-size-heading-medium;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;

  @media #{$medium-up} {
    font-size: $font-size-heading-large;
    }

  @media #{$large-up} {
    font-size: $font-size-heading-x-large;
    }
}

h2 {
  color: $color-primary;
  font-size: $font-size-heading-small;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;

  @media #{$medium-up} {
    font-size: $font-size-heading-medium;
    }

  @media #{$large-up} {
    font-size: $font-size-heading-large;
    }
}

h3 {
  color: $color-accent;
  font-size: $font-size-heading-x-small;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media #{$large-up} {
    font-size: $font-size-heading-small;
    }
}

h4 {
  color: $color-primary;
  font-size: $font-size-heading-x-small;
  margin: 0;
}

h5 {
  color: $color-secondary;
  font-size: $font-size-heading-x-small;
  font-weight: $font-weight-regular;
  text-transform: none;

  @media #{$medium-up} {
    font-size: 1rem;
    }
}

p {
  color: $color-primary;
  font-size: $font-size-text-medium;
  margin: 0;
}
