<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="o-wrapper__max-width">
      <div class="o-wrapper__outer">
      {% include partials/header.html %}
      {% include partials/welcome.html %}
      {% include partials/released.html %}
      {% include partials/streaming.html %}
      {% include partials/occasion.html %}
      {% include partials/explore.html %}
      {% include partials/watch.html %}
      {% include partials/box-office.html %}
      {% include footer.html %}
    </div>
    </div>
  </body>
</html>
